*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;   
}

.container{
    display: flex;
    justify-content: center;
    padding: 0 20px;
    &_wrp{
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        &_left{
            width: 100%;
            max-width: 760px;
            border: 20px solid #707070;
            &_top{
                border-bottom: 10px solid #707070;
                padding: 20px;
                .card{
                    width: 100%;
                }
            }
            &_bottom{
                padding: 20px;
                display: flex;
                flex-wrap: wrap;
            }
        }
        &_right{
            width: 192px;
            height: 280px;
        }
    }
}

.banner{
    padding: 20px;
    width: auto;
    height: 300px;
    background-color:#AAAAAA;
    margin-bottom: 20px;
    position: relative;
    flex-shrink: 0;
    a{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 2px solid white;
    }
    &:hover{
        border: 2px solid #707070;
    }
}

.section{
    display: flex;
    justify-content: center;
    &_0{
      width: 100%;
      height: auto;  
      background-color: black;
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h1{
        color: white;
        text-align: center;
        margin-bottom: 20px;
      }
      p{
        color: white;
        max-width: 970px;
        margin: 0 auto;
      }
    }
    &_1{
        width: 100%;
        height: auto;  
        padding: 20px 20px 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #FF0000;
        h2{
            color: white;
            text-align: center;
        }
    }
    &_2{
        width: 100%;
        height: auto;  
        padding: 20px 20px 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #FF0000;
        h2{
            color: white;
            text-align: center;
        }
    }
}

.none{
    display: none!important;
}
