.header{
    position: sticky;
    background-color: #3573D6;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    &_wrp{
    max-width: 960px;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    h1{
        color: white;
        font-weight: 800;
    }
    }
}