.nav{
    background-color: #14094B;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    &_wrp{
        display: flex;
        justify-content: flex-end;
        max-width: 960px;
        height: 100%;
        width: 100%;
        ul{
            display: flex;
            li{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 26px;
                color: white;
                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}